*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #22ddd131;
    width: 100%;
}

ol, ul{
    list-style: none;
}

h3, p{
    margin-top: 20px;
}

a{
    text-decoration: none;
}

a, p{
    font-size: 14px;
}

.shadowbox{
    box-shadow: 10px 10px 0px -3px rgba(115,124,148,0.3);
}

/* CSS del Header*/
header{
    background-color: #172c67e3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;

}

header nav ul{
    display: flex;
    gap: 2em;
}

header nav ul li a{
    color: rgb(212, 147, 224);
    font-weight: bold;
}



/* CSS del Main*/

/*Texto random de prueba para el github*/

#seccion-principal{
    width: 100%;
}

.greeting{
    height: 150px;
    width: 100%;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    padding-top: 50px;
}

.seccion-1{
    background-color: rgba(65, 139, 189, 0.384);
    display: flex;
    justify-content: center;
    align-items: center; 
}

.contenedor-acerca{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    width: 600px;
}

.acerca-img{
    margin-left: 20px;
}

.acerca-img img{
    width: 200px; 
    border-radius: 2rem;    
}

.seccion-2{
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.seccion-2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

/* CSS del seccion pasiones*/

.pasiones{    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.pasiones .cajita-pasion{
    height: 100%;
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
    background-color: #2e73ea8c;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.pasiones div img{
    border-radius: 10px;
    width: 70%;
}

a{
    margin-top: 20px;
    align-self: flex-start;
}


/*CSS del formulario*/

/* ------------- Encabezado Contacto ------------- */

 .form-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #f6f7f8;
    border: 1px solid #d6d9dc;
    border-radius: 3px;
  
    width: 80%;
    margin: 10px auto;
    padding: 50px;
  }
  
  .form-header h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  /* ------------- Formulario ------------- */
  
  .formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6f7f8;
    border: 1px solid #d6d9dc;
    border-radius: 3px;
  
    width: 80%;
    padding: 50px;
    margin: 30px 0 40px 0;
  }
/* ------------- Campos del Formulario ------------- */

.form-row {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
.form-row input[type="text"],
.form-row input[type="email"]{
    background-color: #bdbdbd;
    border: 0;
    border-radius: 6px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
  }
  
.form-row label {
    margin-bottom: 3px;
    text-align: initial;
  }
  .form-row textarea {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 14px;
  
  
    background-color: #bdbdbd;
    border: 0;
    border-radius: 6px;
  
  
    min-height: 200px;
    margin-bottom: 10px;
    padding: 7px;
    resize: none;
  
  
    width: 100%;
  }
  .form-row button {
    font-size: 16px;
    font-weight: bold;
  
  
    color: #ffffff;
    background-color: #5995da;
  
  
    border: none;
    border-radius: 3px;
  
  
    padding: 10px 40px;
    cursor: pointer;
  }
  
  
  .form-row button:hover {
    background-color: #76aeed;
  }
  
  
  .form-row button:active {
    background-color: #407fc7;
  }
  

/* CSS del Footer*/

.footer{
    background-color: #5e10be6b;
    width: 100%;
    padding: 20px;
}

.pokefixed{
    position: fixed;
    right: 20px;
    bottom: 20px;
}
.pokefixed:hover{
    stroke: rgba(54, 146, 199, 0.822);
}

/* Estilos para pantallas más pequeñas (hasta 768px) */
/* ------------- Para Pantallas de más de 700px ------------- */
@media only screen and (min-width: 700px) {
    .form-header {
      padding: 50px;
    }
  
    .form-row {
      flex-direction: row;
      align-items: flex-start;
      margin-bottom: 20px;
    }
    .form-row input[type="text"],
    .form-row input[type="email"] {
      width: 250px;
      height: initial;
    }
    .form-row label {
      text-align: right;
      width: 120px;
      margin-top: 7px;
      padding-right: 20px;
    }
    .form-row textarea {
        width: 250px;
    }
    .form-row button {
        margin-left: 120px;
    }
}
@media (max-width:700px){        
    
    .contenedor-acerca{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .pasiones{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: space-around;
        margin: 20px;
    }
    .pasiones .cajita-pasion{
        height: 370px;
        max-width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    p, a{
        font-size: 12px;
    }
}    
